h1 {
    font-size: 72px;
    background: #F6F8F9;
    background: -webkit-linear-gradient(to left, #F6F8F9 0%, #E5EBEE 0%, #D7DEE3 100%, #F5F7F9 100%);
    background: -moz-linear-gradient(to left, #F6F8F9 0%, #E5EBEE 0%, #D7DEE3 100%, #F5F7F9 100%);
    background: linear-gradient(to left, #F6F8F9 0%, #E5EBEE 0%, #D7DEE3 100%, #F5F7F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 55px;
    font-family: monospace, serif;
    border: solid 4px dimgray;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.3);
    width: 650px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}

.indexbg{
    background-image: url(images/indexbg.jpg);
}

.loginbg{
    text-align: center;
    background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.registerbg{
    text-align: center;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    text-align: center;
    background: rgba(255, 255, 255, 0.295);
    border-radius: 1.5em;
    border: solid 1px rgba(153, 153, 153, 0.911);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.3);
    padding: 3em;
    width: 750px;
    display: inline-block;
}

input {
    width: 370px;
    padding: 14px 16px;
    border: 0;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    font-size: 30px;
    border: 1px solid white;
    margin: 35px;
}

::placeholder {
    font-size: 20px;
    color: white;
}

td {
    font-size: 30px;
    margin-top: 100px;
    color: white;
}

.error {
    font-size: 30px;
    font-weight: bold;
    color: red;
}


a{
    text-decoration: none;
}

#buttons{
    display: flex;
    justify-content: center;
}

.function{
    font-family: monospace, serif;
    margin: 5px;
    margin-top: 10em;
    float: left;
    text-align: center;
    background-color: dimgrey;
    border: 2px solid white;
    border-radius: 2%;
    height: 3em;
    width: 20em;
    font-size: 30px;
    color: white;
    opacity: 95%;
}

.function:hover {
    background-color: grey;
}

.signout{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    height: 60px;
    width: 60px;
}

.signout:hover{
    transform: scale(1.2);
}

#w3c{
    position: absolute;
    bottom: 0;
    right: 0;
}